

.draw-properties{
    display: flex;
    margin: 2rem auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;

    .color-component{
        margin: 2rem;
    }

    .board-component{
    
    }
    
    
}